[flake8]
max-line-length = 88
extend-ignore =
    E203,
    E501,
    W503,
    W504
per-file-ignores =
    tests/*: S101, S105
exclude =
    .git,
    __pycache__,
    .venv,
    .eggs,
    *.egg,
    build,
    dist,
    mlruns,
    data,
    frontend,
max-complexity = 10
